/*
https://stackoverflow.com/questions/22504421/how-to-apply-style-sheet-to-a-custom-widget-in-pyqt 
*/

/*
http://doc.crossplatform.ru/qt/4.5.0/stylesheet-reference.html 
*/


QDialog{
                background: #555555;
                border-top-width: 3;
                border-right-width:8;
                border-bottom-width:8;
                border-left-width:8;
                border-style: solid;
                border-color: #9e918a;
             }
            
            
QPushButton {
     border: 3px solid;
     border-radius: 6px;
     border-color: #00000;
     background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1.5,
                           stop: 0 #e5cc00, stop: 1 #dadbde);
                           min-width: 80px;
                           font: bold italic large "Times New Roman";
    }




QPushButton:pressed {
        background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
        stop: 0 #dadbde, stop: 1 #d5bc00);
    }

QPushButton:flat {
    border: none; /* для плоской кнопки границы нет */
    }
